{% extends 'admin/base.html' %}

{% block content %}
  <div class="container" style="display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            ">
        <div class="card text-center" style="
                            width: 100%;
                            max-width: 600px;
                            text-align: center;

                            background-color: #264b5d;
                            color: var(--body-fg);
                            border-radius: 20px;">
            <div class="card-header" style="

                            font-size: 14px;
                            ">
                <h1 style="padding: 5px;
                        color: white;
">اضافه کردن مخاطب از فایل اکسل</h1>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" style="color: var(--object-tools-fg);
                            font-weight: 400;
                            font-size: 1rem;
                            letter-spacing: 0.5px;" >
      {% csrf_token %}
      {{ form.as_p  }}
      <button type="submit" class="btn btn-primary"  style="
                            margin-top: 10px;
                            margin-bottom: 10px;
                            padding: 3px 5px;
                            background: var(--object-tools-bg);
                            color: var(--object-tools-fg);
                            font-weight: 400;
                            font-size: 1rem;
                            letter-spacing: 0.5px;
">اضافه کردن
                            </button>
                    <div class="input-group mb-3">
                                <a class="my-button" onclick="location.href='/admin/telegrambot/contact/'" style="
                        display: inline-block;
                        padding: 10px 20px;
                        background-color: #79aec8;
                        color: white;
                        text-align: center;
                        text-decoration: none;
                        font-size: 14px;
                        cursor: pointer;
                        border-radius: 10px ;
                        border-color: #ced4da;
                        margin-top: 30px;
                        margin-bottom: 10px;
">بازگشت به صفحه
                                    قبل</a>
                            </div>
    </form>
            </div>
            {% if error %}
                    <div class="alert alert-danger" role="alert"


                    >
                        <a class="my-button" onclick="location.href='/admin/telegrambot/telegramworker/'" style="
                        display: inline-block;
                        padding: 10px 50px;
                        background-color: #f1184b;
                        color: white;
                        text-align: center;
                        text-decoration: none;
                        font-size: 14px;
                        border-radius: 10px ;
                        border-color: #ced4da;
                        margin-top: 30px;
                        margin-bottom: 10px;
                        cursor: pointer;
"> {{ error }}</a>

                    </div>
                {% elif success %}
                    <div class="alert alert-success" role="alert" style="
                        display: inline-block;
                        padding: 10px 50px;
                        background-color: #499a50;
                        color: white;
                        text-align: center;
                        text-decoration: none;
                        font-size: 14px;
                        border-radius: 10px ;
                        border-color: #ced4da;
                        margin-top: 30px;
                        margin-bottom: 10px;
">
                        {{ success }}
                    </div>
                {% endif %}
        </div>

    </div>

{% endblock %}
